/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1440px){
  
    .carousel-item{
        flex: 0 0 auto;
        width: 200px;
        height: 230px;
        transition: all 0.5s ease-in-out;    
        transform-origin: top;
    }

    .carousel-item:nth-child(1) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(2) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(135px);
    }
    .carousel-item:nth-child(3) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(4) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(5) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(115px);
    }
    .carousel-item:nth-child(6) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(75px);
    }
    .carousel-item:nth-child(7) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(85px);
    }
    .carousel-item:nth-child(8) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(9) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(10) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(90px);
    }
    .carousel-item:nth-child(11) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(105px);
    }


    .carousel-item.active .carousel-inner-item ul{
        opacity: 1;
        transform: translateY(0);
    }
    
    .carousel-item.active .carousel-inner-item p{
        transform: translateY(0);
    }

    .carousel-item.active{
        transform: scale(1.2);
        margin: 0 30px;
        transform-origin: center;
    }
    
    .carousel-item.active .carousel-inner-item{
        background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
    }

    .carousel-dot{
        width: 12px;
        height: 12px;
        margin-bottom: 10px;
    }
    
}
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    .carousel-item{
        flex: 0 0 auto;
        width: 200px;
        height: 230px;
        transition: all 0.5s ease-in-out;    
        transform-origin: top;
    }

    .carousel-item:nth-child(1) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(2) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(135px);
    }
    .carousel-item:nth-child(3) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(4) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(5) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(115px);
    }
    .carousel-item:nth-child(6) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(75px);
    }
    .carousel-item:nth-child(7) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(85px);
    }
    .carousel-item:nth-child(8) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(9) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(10) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(90px);
    }
    .carousel-item:nth-child(11) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(105px);
    }


    .carousel-item.active .carousel-inner-item ul{
        opacity: 1;
        transform: translateY(0);
    }
    
    .carousel-item.active .carousel-inner-item p{
        transform: translateY(0);
    }

    .carousel-item.active{
        transform: scale(1.2);
        margin: 0 30px;
        transform-origin: center;
    }
    
    .carousel-item.active .carousel-inner-item{
        background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
    }

    .carousel-dot{
        width: 12px;
        height: 12px;
        margin-bottom: 10px;
    }
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-item{
        flex: 0 0 auto;
        width: 200px;
        height: 230px;
        transition: all 0.5s ease-in-out;    
        transform-origin: top;
    }

    .carousel-item:nth-child(1) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(2) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(135px);
    }
    .carousel-item:nth-child(3) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(4) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(5) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(115px);
    }
    .carousel-item:nth-child(6) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(75px);
    }
    .carousel-item:nth-child(7) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(85px);
    }
    .carousel-item:nth-child(8) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(9) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(10) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(90px);
    }
    .carousel-item:nth-child(11) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(105px);
    }


    .carousel-item.active .carousel-inner-item ul{
        opacity: 1;
        transform: translateY(0);
    }
    
    .carousel-item.active .carousel-inner-item p{
        transform: translateY(0);
    }

    .carousel-item.active{
        transform: scale(1.2);
        margin: 0 30px;
        transform-origin: center;
    }
    
    .carousel-item.active .carousel-inner-item{
        background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
    }

    .carousel-dot{
        width: 12px;
        height: 12px;
        margin-bottom: 10px;
    }
} 
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}
  
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    .carousel-item{
        flex: 0 0 auto;
        width: 200px;
        height: 230px;
        transition: all 0.5s ease-in-out;    
        transform-origin: top;
    }

    .carousel-item:nth-child(1) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(2) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(135px);
    }
    .carousel-item:nth-child(3) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(4) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(5) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(115px);
    }
    .carousel-item:nth-child(6) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(75px);
    }
    .carousel-item:nth-child(7) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(85px);
    }
    .carousel-item:nth-child(8) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(9) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(10) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(90px);
    }
    .carousel-item:nth-child(11) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(105px);
    }


    .carousel-item.active .carousel-inner-item ul{
        opacity: 1;
        transform: translateY(0);
    }
    
    .carousel-item.active .carousel-inner-item p{
        transform: translateY(0);
    }

    .carousel-item.active{
        transform: scale(1.2);
        margin: 0 30px;
        transform-origin: center;
    }
    
    .carousel-item.active .carousel-inner-item{
        background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
    }

    .carousel-dot{
        width: 12px;
        height: 12px;
        margin-bottom: 10px;
    }
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 375px) and (max-width: 480px) {
    .globe{
        width: 60% !important;
        left: 20%;
    }
}
  
@media (min-width: 320px) and (max-width: 480px) {
    .carousel-item{
        flex: 0 0 auto;
        width: 220px;
        height: 250px;
        transition: all 0.5s ease-in-out;    
        transform-origin: top;
    }
    
    .carousel-item:nth-child(1) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(2) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(120px);
    }
    .carousel-item:nth-child(3) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(100px);
    }
    .carousel-item:nth-child(4) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(100px);
    }
    .carousel-item:nth-child(5) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(100px);
    }
    .carousel-item:nth-child(6) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(7) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(85px);
    }
    .carousel-item:nth-child(8) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(100px);
    }
    .carousel-item:nth-child(9) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(55px);
    }
    .carousel-item:nth-child(10) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }
    .carousel-item:nth-child(11) .carousel-inner-item p {
        transform-origin: top;
        transition: all 0.4s ease-in-out;
        transform: translateY(70px);
    }


    .carousel-item.active .carousel-inner-item ul{
        opacity: 1;
        transform: translateY(0);
    }
    
    .carousel-item.active .carousel-inner-item p{
        transform: translateY(0);
    }

    .carousel-item.active{
        transform: scale(1.2);
        margin: 0 30px;
        transform-origin: center;
    }
    
    .carousel-item.active .carousel-inner-item{
        background-image: linear-gradient(rgba(33, 33, 33, 0.45), #212121);
    }

    .carousel-dot{
        width: 10px;
        height: 10px;
    }
}