
/* utility classes */
.font-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.font-bebus{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

.text-scale span{
    transition: transform 0.3s ease;
}

.text-scale:hover span {
    transform: scale(1.1); /* Scale the span to 1.1 when hovering over the button */
}

/* .snap-container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;
}

.snap-section{
    scroll-snap-align: start;
} */

/* Carousel  Styles */
.carousel-item:nth-child(1) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(235px);
}
.carousel-item:nth-child(2) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(210px);
}
.carousel-item:nth-child(3) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(135px);
}
.carousel-item:nth-child(4) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(160px);
}
.carousel-item:nth-child(5) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(160px);
}
.carousel-item:nth-child(6) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(120px);
}
.carousel-item:nth-child(7) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(160px);
}
.carousel-item:nth-child(8) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(190px);
}
.carousel-item:nth-child(9) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(110px);
}
.carousel-item:nth-child(10) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(110px);
}
.carousel-item:nth-child(11) .carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(130px);
}


.carousel{
    transition: all 0.5s ease-in-out;
}
.carousel-item{
    flex: 0 0 auto;
    width: 330px;
    height: 370px;
    transition: all 0.5s ease-in-out;    
    transform-origin: top;
}
.carousel-item:hover{
    cursor: pointer;
}

.carousel-inner-item{
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 71.07%, #212121 100%);
    transition: all 0.4s ease-in-out;
    transform-origin: top;
}

.carousel-inner-item ul {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(130px);
    opacity: 0;
}

.carousel-inner-item p {
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    transform: translateY(130px);
}

.carousel-item.active{
    transform: scale(1.2);
    margin: 0 30px;
    transform-origin: center;
}

.carousel-item.active .carousel-inner-item{
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
}

.carousel-item.active .carousel-inner-item ul{
    opacity: 1;
    transform: translateY(0);
}

.carousel-item.active .carousel-inner-item p{
    transform: translateY(0);
}

.carousel-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(52, 56, 78, 0.1);
    margin: 0 5px;
    transition: all 0.4s ease-in-out;
}

.carousel-dot:hover, .carousel-dot.active{
    background-color: #02C2FF;
    cursor: pointer;
}