.timeline-table-wrapper {
    height: 100%;

    .search-results-table-header th {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    .search-results-table-header:before {
        top: 100% !important;
    }

    .search-results-table__wrap {
        height: auto;
    }

    .search-results-table__asset-name {
        white-space: nowrap;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search-results-table__asset-name_blur{
        filter: blur(7px);
    }

    .search-results-table__asset-info {
        width: 100%;
    }


    .search-results-table__img-lock {
        display: block;
        margin-left: auto;
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 1149px) {
    .search-results-table__asset-column {
        max-width: 345px;
        width: 345px;
    }
}

@media screen and (max-width: 1150px) {
    .timeline-table-wrapper {
        .search-results-table__asset-name {
            margin-right: 5px;
        }

        .search-results-table__img-lock {
            width: 12px;
            height: 12px;
        }
    }
}