[data-type-tips] {
    cursor: pointer;
}

.tips-title-wrap {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.tips-title-img-wrap {
    padding: 0 !important;
    margin: 0 0 0 5px !important;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tips-title-wrap.tips-title-wrap_top {
    align-items: flex-start;
}

.tips-title-wrap_top .tips-title-img-wrap {
    height: 7px;
    align-items: flex-start;
    margin: 0 0 0 2px !important;
}

.tips-title-img-wrap_big.tips-title-img-wrap {
   height: 7px;
}


.tips-title-img-wrap img {
   height: 100%;
}

.tippy-wrap {
    z-index: 9999;
    position: absolute;
    bottom: calc(100% + 9px);
    background: white;
    box-shadow: 7px 10px 20px rgba(30, 33, 48, 0.45);
    border-radius: 8px;
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    max-width: 300px;
    transition: all .3s ease-in-out;
}

.tooltip-arrow {
    width: 8px;
    position: absolute;
    top: 98%;
    border: 8px solid transparent;
    border-top: 8px solid white;
    margin: 0 !important;
    padding: 0 !important;
}

.tippy-tooltip-text-link {
    font-size: 12px;
}


@media screen and (min-width: 1150px) {
    .tippy-wrap {
        min-width: 140px;
    }

    .tippy-tooltip-text-link {
        font-size: 12px;
        color: #0C0D11;
        text-decoration: none;
        pointer-events: none;
    }

}

